{% include "header.html" %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h1 class="display-4">Companies</h1>
  </div>
</div>

<div class="container">
    <ul class="list-group">
{% for i in companies %}
        <li class="list-group-item">
            <a href="{{url_for('single_company', company_id=i.id)}}">{{ i.name }}</a>
        </li>

{% endfor %}
    </ul>
    <br/>
    <a class="btn btn-primary" href="/companies/new">Create new company</a>

</div>

{% include "footer.html" %}