{% include "header.html" %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="" display-4>{{company.name}}</h1>
        <p class="lead">{{company.slogan}}</p>
    </div>
</div>


<div class="container">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            <string>{{ message }}</string>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <ul class="list-group">
        {% for i in jobs %}
        <li class="list-group-item">
            <a href="{{url_for('single_post', company_id = company.id, job_id=i.id) }}"><h5 class="d-flex w-100 justify-content-between">
                {{i.job_title}}
            </h5></a>
            <p>{{i.job_description}}</p>

            <small>$ {{i.salary}} </small>
        </li>

        {% endfor %}
    </ul>
    </br>

    <a class="btn btn-primary" href="/">Back</a>


</div>

{% include "footer.html" %}